annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961370587/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1776866578774/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792265/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761745005832/work
click==8.3.3
colorama==0.4.6
cryptography==46.0.7
faiss==1.9.0
fastapi==0.136.0
filelock @ file:///C:/Users/task_176943975530691/croot/filelock_1769440571783/work
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748103115/work
google-api-core==2.30.3
google-auth==2.49.2
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
h11==0.16.0
httptools==0.7.1
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044050/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/miniconda3/conda-bld/networkx_1765378660274/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=5dfd3e04dc1c2826d3f404fdc7f93c097901f5da9b91f4f394f79d4e038ed81d
opencv-python==4.7.0
packaging==26.0
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
proto-plus==1.27.2
protobuf==7.34.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser @ file:///C:/Users/task_177495971060608/croot/pycparser_1774959807716/work
pydantic==2.13.3
pydantic_core==2.46.3
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753028158/work
python-dotenv==1.2.2
python-multipart==0.0.26
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465512847/work
requests @ file:///C:/Users/task_177506609072086/croot/requests_1775066161205/work
starlette==1.0.0
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762983779/work
torch==2.5.1
torchvision==0.20.1
typing-inspection==0.4.2
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
urllib3 @ file:///C:/Users/task_176781036847582/croot/urllib3_1767810492638/work
uvicorn==0.46.0
watchfiles==1.1.1
websockets==16.0
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278197/work
